# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Editores e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log
tempCodeRunnerFile.py
